body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding-top: 50px;
    font-family: sans-serif;
    color: rgb(89, 227, 231);
    display: flex;
}
h2{
    display: flex;
    justify-content: flex-end;
    margin-left: 100px;
}
.cube {
    transform-style: preserve-3d;
    position: relative;
    width: 225px;
    height: 225px;
    margin: auto; 
    animation: rotate-cube 20s infinite linear; 
}
.side {
    position: absolute;
    width: 225px;
    height: 225px;
}
.front.side {
    background-image: url(/images/html.png);
    transform: translateZ(225px);
}
.back.side {
    background-color: hsl(190, 100%, 70%);
    transform: translateZ(-225px) rotateX(180deg);
}
.top.side {
    transform: translateY(-225px) rotateX(90deg);
}
.bottom.side {
    transform: translateY(225px) rotateX(-90deg);
}

@keyframes rotate-cube {
    0% {transform: rotateX(0deg) rotateY(0deg);}
    25% {transform: rotateX(-90deg) rotateY(0deg);}
    50% {transform: rotateX(-180deg) rotateY(0deg);}
    75% {transform: rotateX(-270deg) rotateY(0deg);}
    100% {transform: rotateX(-360deg) rotateY(0deg);}
}
.container {
    perspective: 1000px;
    width: 225px; 
    height: 225px; 
    margin-right: 300px;
    margin-top: 150px;
    top: 225px;
    position: relative;
    justify-content: flex-end;
}
nav {
    background-color: #292931; /* Different background color */
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  nav ul {
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
  }
  
  nav ul li {
    margin-left: 2em; /* Space between items */
  }
  
  nav ul li a {
    color: hsl(190, 100%, 70%);
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: hsl(190, 100%, 70%);
    color: black;
    text-decoration:wavy
  }
