body{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
}
.cube {
    transform-style: preserve-3d;
    position: relative;
    width: 225px;
    height: 225px;
    margin: auto; 
    animation: rotate-cube 20s infinite linear;
}
.side {
    position: absolute;
    width: 225px;
    height: 225px;
}
.front.side {
    background-image: url(/images/html.png);
    transform: translateZ(225px);
}
.back.side {
    background-color: hsl(190, 100%, 70%);
    transform: translateZ(-225px);
}
.right.side {
    background-color: hsl(162, 47%, 32%);
    transform: translateX(225px) rotateY(90deg);
}
.left.side {
    transform: translateX(-225px) rotateY(-90deg);
}

@keyframes rotate-cube {
    0% {transform: rotateX(0deg) rotateY(0deg);}
    25% {transform: rotateX(-0deg) rotateY(90deg);}
    50% {transform: rotateX(-0deg) rotateY(180deg);}
    75% {transform: rotateX(0deg) rotateY(270deg);}
    100% {transform: rotateX(0deg) rotateY(360deg);}
}
.container {
    perspective: 1000px;
    width: 225px; 
    height: 225px; 
    margin: auto;
    top: 225px;
    position: relative;
}